
<!doctype html>
<html lang="en" class="md">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">

    <link rel="apple-touch-icon" href="/static/vip/img/f7-icon-square.png">
    <link rel="icon" href="/static/vip/img/f7-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/vip/vendor/bootstrap-4.1.3/css/bootstrap.min.css">

    <!-- Material design icons CSS -->
    <link rel="stylesheet" href="/static/vip/vendor/materializeicon/material-icons.css">

    <!-- swiper carousel CSS -->
    <link rel="stylesheet" href="/static/vip/vendor/swiper/css/swiper.min.css">

    <!-- app CSS -->
    <link id="theme" rel="stylesheet" href="/static/vip/css/style.css" type="text/css">


    <title>SPE VIP</title>

       <style>
   .mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	

	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;
	
	box-shadow: 0 -2px 5px -2px #333;
	background-color:#fff;
   }
   .mobile-bottom-nav__item{
		flex-grow:1;
		text-align:center;
		font-size:12px;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	.mobile-bottom-nav__item--active{
		
		color:red;
	}
	.mobile-bottom-nav__item-content{ 
		display:flex;
		flex-direction:column;		
    }
    



    table.blueTable {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
  }
  table.blueTable tbody td {
	font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
  }
  table.blueTable thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
	border-left: none;
  }
  
  table.blueTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
	font-size: 14px;
  }
  table.blueTable tfoot .links {
	text-align: right;
  }
  table.blueTable tfoot .links a{
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
  }
    
   </style>
</head>

<body class="color-theme-blue push-content-right theme-light">
        <nav class="mobile-bottom-nav">
                <div class="mobile-bottom-nav__item ">
                    <div class="mobile-bottom-nav__item-content">
                        <i class="material-icons">format_shapes</i>
                        <a href={% url 'vip:assets'  %}> Assets</a>
                    </div>		
                </div>
                <div class="mobile-bottom-nav__item">		
                    <div class="mobile-bottom-nav__item-content">
                        <i class="material-icons">account_balance_wallet</i>
                        <a href={% url 'vip:wdraw'  %}>  W/draw</a>
                    </div>
                </div>
                <div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
                    <div class="mobile-bottom-nav__item-content">
                            <a href={% url 'vip:home'  %}> <i class="material-icons">home</i></a>
                        
                    </div>		
                </div>
                
                <div class="mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <i class="material-icons">aspect_ratio</i>
                        Promo
                    </div>		
                </div>

                <div class="mobile-bottom-nav__item">
                        <div class="mobile-bottom-nav__item-content">
                            <i class="material-icons">chat</i>
                            Chat
                        </div>		
                    </div>
            </nav>
    <div class="loader justify-content-center ">
        <div class="maxui-roller align-self-center"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="wrapper">
       

    


        <!-- page main start -->
        <div class="page">
          
            <header class="row m-0 fixed-header">
               
                <div class="col center">
                    <a  href="" class="logo">
                        <figure><img src="/static/vip/img/logoA.jpeg" alt=""></figure> <span style="text-align:center;font-weight: 900; color:black">SAIPAN PACIFIC ENT.</span> </a>
                </div>
               
            </header>
            <div class="page-content">
                <div class="content-sticky-footer">
                    <div class="background bg-170"><img src="/static/vip/img/background.png" alt=""></div>
                    <div class="w-100">
                        <h1 class="text-center text-white title-background"><small>Welcome</h1>
                            <div class="jumbotron jumbotron-fluid mb-3 bg-white rounded-3 text-center z2">
                                    <div class="container px-2">
                                        <i class="avatar avatar-120 mr-0  material-icons icon-4x bg-white text-primary border-primary ">aspect_ratio</i>
                                        <h2 class=" text-primary">Your Promo Code：DEFG
                                            </h2>
                                        <p class="lead">When your Team members register, fill in the promotion code and you will enjoy the team benefits</p>
                                        <hr class="my-4">
                                        <!-- <p class="text-secondary">MobileUX is HTML template based on Bootstrap 4.1 framework. This html template can be used in various business domains like Manufacturing, inventory, IT, administration etc. for admin panel, system development, web applications, even website can be created. This template also considered social pages, ecommerce pages and many more.</p>
                                        <br>
                                        <a class="btn btn-primary" href="#" role="button">Learn more</a> -->
                                    </div>
                                </div>
                    </div>

                 

                    <!-- <h2 class="block-title">Latest Comments</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#" class="media">
                                <div class="w-auto h-100">
                                    <figure class="avatar avatar-40"><img src="/static/vip/img/user1.png" alt=""> </figure>
                                </div>
                                <div class="media-body">
                                    <h5>John Doe <span class="status-online bg-success"></span></h5>
                                    <p>My view is to create greate things </p>
                                </div>

                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="media">
                                <div class="w-auto h-100">
                                    <figure class="avatar avatar-40"><img src="/static/vip/img/user2.png" alt=""> </figure>
                                </div>
                                <div class="media-body">
                                    <h5>Angeliina Hardy <span class="status-online bg-warning"></span></h5>
                                    <p>My view is to create greate things </p>
                                </div>

                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="media">
                                <div class="w-auto h-100">
                                    <figure class="avatar avatar-40"><img src="/static/vip/img/user3.png" alt=""> </figure>
                                </div>
                                <div class="media-body">
                                    <h5>Arnold Johnsons <span class="status-online bg-danger"></span></h5>
                                    <p>My view is to create greate things </p>
                                </div>

                            </a>
                        </li>
                    </ul>

                    <h2 class="block-title">Trending Project</h2>
                    <div class="row mx-0">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#" class="media">
                                        <div class="media-body">
                                            <h5>Karla Sports App </h5>
                                            <p>25 November 2018</p>
                                        </div>
                                        <div class="w-auto h-100">
                                            <span class="text-primary">Completed</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col">
                                            <i class="material-icons text-warning">star</i>
                                            <span class="post-seconds">4.9 <span>(254)</span></span>
                                        </div>
                                        <div class="col">
                                            <i class="material-icons text-grey">schedule</i>
                                            <span class="post-seconds">254 <span>hrs</span></span>
                                        </div>
                                        <div class="col">
                                            <i class="material-icons text-grey">monetization_on</i>
                                            <span class="post-seconds">4000 <span>$</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="block-title text-center">About us</div>
                    <h2 class="text-center mt-0 mb-4">We are MobileUX</h2>
                    <div class="row mx-0">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                                <br>
                                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="col col-sm-2">
                            <figure class="m-0">
                                <img src="/static/vip/img/background.png" class="mw-100" alt="">
                            </figure>
                        </div>
                    </div> -->
                    <br>
                </div>
                <div class="footer-wrapper">
                    <div class="footer">
                        <div class="row mx-0">
                            <div class="col">
                                
                            </div>
                            <!-- <div class="col-7 text-right">
                                <a href="" class="social"><img src="/static/vip/img/facebook.png" alt=""></a>
                                <a href="" class="social"><img src="/static/vip/img/googleplus.png" alt=""></a>
                                <a href="" class="social"><img src="/static/vip/img/linkedin.png" alt=""></a>
                                <a href="" class="social"><img src="/static/vip/img/twitter.png" alt=""></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="footer dark">
                        <div class="row mx-0">
                            <div class="col  text-center">
                                Copyright @2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page main ends -->

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/vip/js/jquery-3.2.1.min.js"></script>
    <script src="/static/vip/js/popper.min.js"></script>
    <script src="/static/vip/vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>

    <!-- Cookie jquery file -->
    <script src="/static/vip/vendor/cookie/jquery.cookie.js"></script>

    <!-- sparklines chart jquery file -->
    <script src="/static/vip/vendor/sparklines/jquery.sparkline.min.js"></script>

    <!-- Circular progress gauge jquery file -->
    <script src="/static/vip/vendor/circle-progress/circle-progress.min.js"></script>

    <!-- Swiper carousel jquery file -->
    <script src="/static/vip/vendor/swiper/js/swiper.min.js"></script>

    <!-- Application main common jquery file -->
    <script src="/static/vip/js/main.js"></script>

    <!-- page specific script -->
    <script>
        $(window).on('load', function() {
            /* sparklines */
            $(".dynamicsparkline").sparkline([5, 6, 7, 2, 0, 4, 2, 5, 6, 7, 2, 0, 4, 2, 4], {
                type: 'bar',
                height: '25',
                barSpacing: 2,
                barColor: '#a9d7fe',
                negBarColor: '#ef4055',
                zeroColor: '#ffffff'
            });

            /* gauge chart circular progress */
            $('.progress_profile1').circleProgress({
                fill: '#169cf1',
                lineCap: 'butt'
            });
            $('.progress_profile2').circleProgress({
                fill: '#f4465e',
                lineCap: 'butt'
            });
            $('.progress_profile4').circleProgress({
                fill: '#ffc000',
                lineCap: 'butt'
            });
            $('.progress_profile3').circleProgress({
                fill: '#00c473',
                lineCap: 'butt'
            });

            /*Swiper carousel */
            var mySwiper = new Swiper('.swiper-container', {
                slidesPerView: 2,
                spaceBetween: 0,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                }
            });
            /* tooltip */
            $(function() {
                $('[data-toggle="tooltip"]').tooltip()
            });
        });

    </script>

<script>
        var navItems = document.querySelectorAll(".mobile-bottom-nav__item");
navItems.forEach(function(e, i) {
	e.addEventListener("click", function(e) {
		navItems.forEach(function(e2, i2) {
			e2.classList.remove("mobile-bottom-nav__item--active");
		})
		this.classList.add("mobile-bottom-nav__item--active");
	});
});
        </script>
</body>

</html>
